@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Sekuya&display=swap');

:root {
  --text-color: #ffffff;
  --color-cyan: #2FF3E0;
  --color-gold: #F8D210;
  --color-gold-opaque: #F8D21060;
  --color-pink: #FA26A0;
  --color-chili: #F51720;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Geom, Tahoma;
  color: var(--text-color);
}
