body {
  background-color: --primary;
}

h1, h2 {
  font-family: Sekuya, Geom, Tahoma;
}

h3 {
  font-family: Geom, Tahoma;
}

h1 {
  font-size: 2.5rem;
}

h2, h3 {
  font-size: 2rem;
}

section {
  padding: 2em min(2em, 15%);
}

.scanline {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.05) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.02), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.02));
  background-size: 100% 4px, 3px 100%;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 50;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gap-large {
    gap: 3em;
    /* padding-top: 2em; */
}

.text-container {
  flex-basis: 35vw;
  text-align: center;
}

.text-container p {
  /* justify-content: center; */
  align-items: center;
  margin: .75em 0 2em 0;
  font-size: 1.25rem;
}
