body {
  background: linear-gradient(
    to bottom,
    var(--color-gold) 0%,
    var(--color-chili) 100%
  );
}

h1, h2 {
  font-family: Sekuya, Geom, Tahoma;
}

h3 {
  font-family: Geom, Tahoma;
}

h1 {
  font-size: 2.5rem;
}

h2, h3 {
  font-size: 2rem;
}

section {
  padding: 3em min(2em, 15%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gap-large {
    gap: 2em;
}

.text-container {
  flex: 0 1 34em;
  text-align: center;
}

.text-container p {
  justify-content: center;
  align-items: center;
  margin: .75em 0 2em 0;
  font-size: 1.25rem;
}
