/* Background animations */
.circle {
  position: absolute;
  z-index: -1;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.b-1 {
  top: -13rem;
  right: 55%;
  background-color: var(--color-chili);
  box-shadow: 0px 0px 10px 10px var(--color-chili);
  animation: ballBounce 10s 1.5s linear infinite alternate;
}

.b-2 {
  right: 25%;
  background-color: var(--color-cyan);
  box-shadow: 0px 0px 10px 10px var(--color-cyan);
  animation: ballBounce 10s linear infinite alternate;
}

.b-3 {
  bottom: -13rem;
  right: 75%;
  background-color: var(--color-pink);
  box-shadow: 0px 0px 10px 10px var(--color-pink);
  animation: ballBounce 10s 2s linear infinite alternate-reverse;
}

@keyframes ballBounce{
  0% 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25vh);
  }
}

/* Header */
header img {
  z-index: 9;
  max-width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

.cta-button {
  color: var(--text-color);
  border: 1px solid var(--color-gold);
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  padding: 1em 2em;
  letter-spacing: 3px;
  border-radius: 500px;
  transition: 150ms ease;
}

.cta-button:hover {
  background-color: var(--color-gold);
  color: var(--color-chili);
  scale: 1.1;
}

/* Portfolio */
section p {
  margin-top: 1em;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3em;
  width: 75%;
  margin: auto;
}

.container-border {
  border: 1px solid var(--color-gold);
  border-radius: 20px;
  padding: 1em;
  transition: 150ms;
}

.container-border:hover {
  /* background-color: rgba(169, 169, 169, 0.2); */
  backdrop-filter: blur(25px);
  scale: 1.01;
}
