/* Background animations */
.b-1 {
  top: -13rem;
  right: 55%;
  background-color: var(--color-chili);
  box-shadow: 0px 0px 10px 10px var(--color-chili);
  animation: ballBounce 10s 1.5s linear infinite alternate;
}

.b-2 {
  right: 25%;
  background-color: var(--color-cyan);
  box-shadow: 0px 0px 10px 10px var(--color-cyan);
  animation: ballBounce 10s linear infinite alternate;
}

.b-3 {
  bottom: -13rem;
  right: 75%;
  background-color: var(--color-pink);
  box-shadow: 0px 0px 10px 10px var(--color-pink);
  animation: ballBounce 10s 2s linear infinite alternate-reverse;
}

/* Header */
header img {
  z-index: 9;
  max-width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

/* Portfolio */
section p {
  margin-top: 1em;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3em;
  width: 75%;
  margin: auto;
}

.container-border {
  border: 1px solid var(--color-gold);
  border-radius: 20px;
  padding: 1em;
  transition: 150ms;
}

.container-border:hover {
  backdrop-filter: blur(25px);
  scale: 1.01;
}

/* Footer */
footer div {
  padding: 2em;
  margin: 2em;
}

#text-to-copy {
  font-size: 2rem;
}

#footer-button {
  display: flex;
  gap: 0.5em;
}

.icon {
  fill: var(--text-color);
}
