/* Header */
header {
  height: calc(100vh - 90px);
  /* New code  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Portfolio */
section p {
  margin-top: 1em;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3em;
  width: 75%;
  margin: auto;
}

.container-border {
  border: 1px solid var(--yellow);
  border-radius: 20px;
  padding: 1em;
  transition: 150ms;
}

.container-border:hover {
  backdrop-filter: blur(25px);
  scale: 1.01;
}

/* Footer */
footer div {
  padding: 2em;
  margin: 2em;
}

#text-to-copy {
  font-size: 2rem;
}

#footer-button {
  display: flex;
  gap: 0.5em;
}

.icon {
  fill: var(--text-color);
}

.svg-container {
  width: 1em;
  height: 1em;
  align-items: center;
  justify-self: center;
}
