@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Sekuya&display=swap');

:root {
  --dark-purple: #53378e;
  --purple: #7e4091;
  --red: #e72136;
  --orange: #fa581f;
  --yellow: #fec632;
  --primary: #fdfaf0;
  --text-color: #272624;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Geom, Tahoma;
  color: var(--text-color);
}
