.container {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ascii {
  margin: 0;
  color: var(--text-color);
  line-height: 0.6;   
  letter-spacing: 0; 
  white-space: pre;   
  text-align: center; 
}


.cta-button {
  background: linear-gradient(90deg, var(--yellow) 0%, var(--orange) 30%, var(--red) 60%, var(--purple) 80%, var(--dark-purple) 100%);
  color: var(--primary);
  /* border: 1px solid var(--text-color); */
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  padding: 1em 1.5em;
  border-radius: 500px;
  transition: 150ms ease;
}

.cta-button:hover {
  background-color: var(--yellow);
  color: var(--text-color);
  scale: 1.1;
}


